<!-- 
<app-navbar></app-navbar>
<div class="container mt-5 mb-5">

    <div class="row">

        <div class="col-lg-4" *ngFor="let td of toyData">

            <div class="toybox mt-3 mb-3">
                <img alt="" width="200" height="100" src="{{td.toyImg}}">
                <h1>{{td.toyName}}</h1>
                <p>{{td.toyDetails}}</p>
                <p>{{td.toyPrice | currency:'INR'}}</p>
                <br/>
                <a class="buybtn" [routerLink]="['/toypage',td.id]">Buy Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>

        </div>



    </div>


    

</div>
<app-footer></app-footer> -->